/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: rgba(56, 70, 82, 0.575);
    font-family: 'Permanent Marker', cursive
}

header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
}

header button {
     margin-left: 45%;
     width: 10%;
     font-size: 1.2rem;
     font-weight: 400;
     display: flex;
     align-content: center;
     justify-content: center;
     margin-bottom: 5%;
}
h2{
     font-weight: 400;
}

/******************************************
/* LAYOUT
/*******************************************/
header h1 {
     font-size: 2.8rem;
     display: flex;
     justify-content: center;
}

section.table, section>div, div h2 img{
     display: flex;
}
section.table {
     justify-content: space-around;
}
section>div {
     flex-direction: column;
     align-content: space-between;
}

div.button-container, button.deal {
     display: flex
}

div.button-container {
     justify-content: center;
     margin-top: 3%;
}
button.deal {
     justify-content: center;
}

footer, footer div, footer div button {
     display: flex;
}
footer {
     justify-content: center;
}
footer div button {
     margin-top: 200px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
